.wrapper{
    background-color: firebrick;
    font-size: 100px;
}
.main{
    display: flex;
    background-color: firebrick;
    font-size: 100px;
}
.leftBlock{
    background-color: green;

    display: flex;
    flex-direction: column;
}
.rightBlock{
    background-color: red;

    display: flex;
    flex-direction: column;
}